section(class="job")
  div(class="jumbotron")
    h1=name
    h2(class="text-muted")="professional programmer"
    table(class="contacts table")
      tr
        td(class="text-muted")
          i(class="glyphicon glyphicon-phone")
          | &nbsp;#{MOBILE}
        td
          | #{mobile}
      tr
        td(class="text-muted")
          i(class="glyphicon glyphicon-envelope")
          | &nbsp;E-mail
        td
          a(href="mailto:#{email}") #{email}
      tr
        td(class="text-muted")
          i(class="glyphicon glyphicon-home")
          | &nbsp;#{LOCATION}
        td
          | #{location}