doctype html
-var navArray = _.map(navs, function(title, id) { return {id: id, title: title}; });
html(lang="en")
  head
    meta(charset="utf-8")
    title=name
    for style in styles
      link(rel="stylesheet", href="#{style}")
    for script in scripts
      script(src="#{script}")
  body
    div(class="container")
      div(class="header")
        nav
          ul(class="nav nav-pills pull-right")
            each navValue, navIndex in navArray
              li(role="presentation", class=navIndex?'':'active')
                a(href="##{navValue.id}", data-toggle="tab")=navValue.title
        h3(class="text-muted text-uppercase")=name
      div(class="tab-content")
        each navValue, navIndex in navArray
          div(role="tabpanel", class="tab-pane fade #{navIndex ? '' : 'in active'}", id="#{navValue.id}")
            |!{include('pages/' + navValue.id)}