doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title="#{name}"
    for style in styles
      link(rel="stylesheet", href="#{style}")
    for script in scripts
      script(src="#{script}")
  body
    | #{name}
